minecraft/

## IDEA files
.idea/
build/
out/
.gradle/
*.iml
*.ipr
*.iws

## Eclipse files
bin/
eclipse/
.project
.classpath
.settings/

## Minecraft files
config/
logs/
saves/
usernamecache.json
options.txt
crash-reports/
screenshots/
banned-ips.json
banned-players.json
ops.json
server.properties
world
usercache.json
whitelist.json

## JurassiCraft files
Resources.zip

## Forge files
